<html>
  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>


	<!-------------------------- TEAM -------------------------->


<div class="container">
	<div class="row text-center justify-content-center">
		
		<div class="col-lg-6">
			<br>
			<br>
			<br>
			<br>
			<h1 class='text-center'>TEAM RENNES</h1>
			<br>
			<br>
			<br>
			

			<div class="card" >
			  
			  <div class="card-body">
			    <h5 class="card-title">Paul</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    
			  </div>
			</div>
			<br>
			<br>



			<div class="card" >
			  
			  <div class="card-body">
			    <h5 class="card-title">Sam</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    
			  </div>
			</div>
			<br>
			<br>

			<div class="card" >
			  
			  <div class="card-body">
			    <h5 class="card-title">Sarah</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    
			  </div>
			</div>
			<br>
			<br>


			<div class="card" >
			  
			  <div class="card-body">
			    <h5 class="card-title">Julien</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    
			  </div>
			</div>

		</div>
	</div>
</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>






</body>
</html>	